.skeltonPostCard {
  // background-color: #fff;
  // box-shadow: 0px 0px 20px -4px rgb(0 0 0 / 30%);
  // padding: 1.5rem 1.3rem;
  // border-radius: 6px;
  // height: 100%;
  // margin-bottom: 1rem;
  .cardHeading {
    width: 50%;
  }
}
